POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin
POSTGRES_DB=postgres


DATABASE_URL=postgresql+psycopg://postgres:admin@PostgresDB:5432/postgres
SECRET_KEY=super_secret_key_change_me_in_production_1234567890
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

cors_allowed_origins=["http://localhost:3000"]