.env
.env.*
!.env.example

.venv/
venv/
ENV/
env/

__pycache__/
*.py[cod]
*$py.class
*.log

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

list.txt